.sobre-mi {
  padding: 3rem 2rem;

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: flex-start;
    }

    img {
      width: 200px;
      border-radius: 50%;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }

    h2 {
      margin-bottom: 1rem;
    }

    p {
      line-height: 1.6;
      margin-bottom: 1rem;
    }
  }
}


/* Quitar flechas en Chrome, Edge y Safari */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Quitar flechas en Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
